@import '~antd/dist/antd.css';

.clear-button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

.ant-card-meta-title{
    color: firebrick;
}

.ant-card-head-title{
    color:#3C5A99;
}

.ant-layout-sider-zero-width-trigger {
    top: -6px;
}

.ant-layout-sider-light .ant-layout-sider-zero-width-trigger{
    background-color: transparent;
}