.react-shop-graphql {
  @indent: 6px;
  @liteGrey: #dcdcdc;
  @mainColor: #1f1f3e;
  @dangerColor: #c2312f;
  @sidebarWidth: 300px;
  @stdFontSize: 15px;
  @marginByNavbar: @indent * 10;
  @markupBorder: 1px solid @mainColor;
  @behindNavbar: -1;

  .clear-button {
    border: 0;
    background: transparent;
  }

  .std-button {
    border: solid @mainColor 1px;
    display: inline-block;
    background: #fff;
    border-radius: 4px;
    padding: 4px 12px;
    margin-left: @indent * 2;
  }

  .navbar {
    top: 0;
    position: fixed;
    width: 100%;
    background-color: @mainColor;
    height: @indent * 8;

    &-content {
      position: relative;
      width: 100%;
    }

    &-brand {
      position: absolute;
      top: @indent *1.5;
      left: @indent * 2;
      color: #fff;
      font-size: @indent *3;
    }
  }

  .content-container {
    margin-left: @sidebarWidth + @indent;
    margin-top: @marginByNavbar;

    .products-container {
      font-size: @stdFontSize;

      .products {
        list-style-type: none;

        .product {
          border-bottom: @markupBorder;
          padding: @indent * 2;
          margin: @indent;
          width: 750px;
          display: -webkit-flex;
          -webkit-flex-wrap: wrap;

          &-img {
            width: 200px;
          }

          &-info {
            margin-left: @indent * 4;
            width: 25%;
            display: flex;
            flex-direction: column;
          }

          &-category-name {
            font: @stdFontSize/1.5;
          }

          &-price {
            color: @dangerColor;
          }

          &-ratings {
            margin-top: @indent / 3;
            margin-left: @indent * 4;
            display: inline-flex;

            .text-info {
              display: flex;
              justify-content: center;
              flex-direction: column;
              color: @mainColor;
              text-align: center;

              .amount {
                margin-right: @indent / 2;
              }

              .score {
                border-radius: @indent * 2;
                font-size: @indent * 6;
              }
            }

            .buttons {
              color: @liteGrey;

              .message {
               color: @mainColor;
                max-width: 80px;
              }
            }

            .buttons:hover {
              button {
                color: @mainColor;
              }

              button:hover ~ button {
                color: @liteGrey;
              }
            }

            .hover-button {
              color: @mainColor;
            }

            .rating {
              @height: 22px;
              background: @liteGrey;
              border-radius: 2px;
              width: 150px;
              margin-bottom: @indent;

              .progress {
                height: 22px;
                border: 1px solid @mainColor;
                background: @mainColor;
                border-radius: 2px;
              }
            }
          }

        }
      }
    }
  }

  .sidebar-container {
    top: 0;
    left: 0;
    padding-top: @marginByNavbar;
    position: fixed;
    display: block;
    float: left;
    border-right: @markupBorder;
    height: 100%;

    .sidebar {
      height: 100%;
      width: @sidebarWidth;
      line-height: 1.5;
      font-size: @stdFontSize;

      .sidebar-buttons {
        margin: @indent * 3;
      }

      .category {
        margin-left: @indent * 3;

        &-name {
          margin-left: @indent;
        }
      }
    }
  }
}

